package {{.Package}}

import (
	"fmt"

    "go-aoc-template/utils"
)

type Solver struct{}

func (s *Solver) SolvePart1(input string) (string, error) {
	lines := utils.ReadLines(input)
	
	// TODO: Implement {{.Title}} Part 1 solution
	// Remove this placeholder code:
	_ = lines
	
	result := 0
	return fmt.Sprintf("%d", result), nil
}
